.question-area {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 24px;
  font-weight: 700;
  min-height: 10vh;
  position: relative;
}

.question {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.answer {
  font-family: 'Crimson Text', serif;
  font-size: 28px;
  margin: 10px 0;
}

.footnote {
  font-size: 1.2em;
  text-align: center;
}

hr {
  margin: 30px 0;
}

@media only screen and (max-width: 768px) {
  .question-area {
    font-family: 'Crimson Text', serif;
    min-height: 12vh;
    font-size: 24px;
  }
  .answer-area {
    display: grid;
    grid-auto-rows: auto;
  }
  .answer {
    font-size: 22px;
    margin: 0 auto;
  }
  .footnote {
    display: none;
  }
} 

@media only screen and (max-width: 476px) {
  .question-area {
    font-family: 'Crimson Text', serif;
    min-height: 10vh;
    font-size: 18px;
  }
  .answer-area {
    display: grid;
    grid-auto-rows: auto;
  }
  .answer {
    font-size: 22px;
    margin: 0 auto;
  }
  .footnote {
    display: none;
  }
}