#timer {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  float: right;
}
#countdown {
  font-family: 'Inconsolata', monospace;
  font-size: 28px;
}