#timer {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin-top: 6%;
  margin-bottom: 2%;
}
#countdown {
  font-family: 'Inconsolata', monospace;
  font-size: 28px;
  margin-left: 20px;
}

@media only screen and (max-width: 768px) {

} 

@media only screen and (max-width: 476px) {
  #timer {
    font-size: 16px;
    margin-top: 6%;
    margin-bottom: 2%;
  }
  #countdown {
    font-size: 18px;
    margin-left: 10px;
  }
}