* {
    box-sizing: border-box;
}
@font-face {
    font-family: 'game_of_thronesregular';
    src: url('./game_of_thrones-webfont.woff2') format('woff2'),
         url('./game_of_thrones-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Crimson Text', serif;
    background: url("./img/got-background.jpg") no-repeat center center fixed; 
    background-size: cover;
}
.container {
    padding: 1% 15%;
}

/* BUTTONS */
.btn {
    border-radius: 10px;
    outline: none;
    padding: 4px 15px;
}
.btn:hover {
    cursor: pointer;
}
.btn:active {
    background: black;
    color: white;
}

.border {
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

/* TEXT STYLES */
.fancy {
    font-family: 'Cinzel Decorative', cursive;
}
.small {
    font-size: 1.5em;
}
.medium {
    font-size: 2em;
}
.large {
    font-size: 3em;
}
.center {
    text-align: center;
}


@media only screen and (max-width: 768px) {
    .container {
        padding: 1% 10%;
    }
} 
  
@media only screen and (max-width: 476px) {
    .container {
        padding: 1% 5%;
    }
}