* {
    box-sizing: border-box;
}
@font-face {
    font-family: 'game_of_thronesregular';
    src: url('./game_of_thrones-webfont.woff2') format('woff2'),
         url('./game_of_thrones-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    background: url("./img/got-background.jpg") no-repeat center center fixed; 
    background-size: cover;
}

.container {
    padding: 1% 15%;
}

.btn:hover {
    cursor: pointer;
}



/* 
font-family: 'Cinzel Decorative', cursive;
font-family: 'Crimson Text', serif;
font-family: 'Inconsolata', monospace;
*/