#title {
  font-family: 'game_of_thronesregular', 'Cinzel Decorative', cursive;
  font-size: 72px;
  text-align: center;
  color: #fff;
  margin-top: 3%;
}
#subtitle {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 32px;
  text-align: center;
  color: #fff;
  margin-top: 1%;
  margin-bottom: 6%;
}